<div name="comment" class="comment mdl-color-text--grey-700" ng-repeat="(key, c) in comments">
    <header class="comment__header">
        <img src="images/co1.jpg" class="comment__avatar">
        <div class="comment__author">
            <input type="text" ng-model="c.name" />
            <span>2 days ago</span>
        </div>
    </header>
    <div class="comment__text">
        <textarea ng-model="c.text"></textarea>
    </div>
    <nav class="comment__actions">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">thumb_up</i><span class="visuallyhidden">like comment</span>
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">thumb_down</i><span class="visuallyhidden">dislike comment</span>
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">share</i><span class="visuallyhidden">share comment</span>
        </button>
    </nav>
    <ul>
        <li class="comment__answers" ng-repeat="ca in c.comment" ng-include="'edit_comment.html'">
        </li>
    </ul>
</div>
