.mdl-badge[data-badge]:after {
	width:40px;
}

.kyp_img{
	width:100%;
	height:320px;
}

li{
	list-style-type: none;
}

.more{
	float:right;
	cursor: pointer;
}

.profile-comments .comments > form{
	display:none;
}

.ta-editor{
	    width: inherit;
	    height: auto;
}

.ta-scroll-window > .ta-bind {
    height: auto;
    min-height: 300px;
    padding: 6px 12px;
}

.admin .demo-blog__posts{
	height: auto;
	min-height: 320px;
}

body > .mdl-layout__container {
       position: inherit;
    width: 100%;
    height: 100%;
}

.admin .basic_info .item{
	    margin-left: 1%;
}


